figure {
  box-sizing: border-box;
  display: inline-block;
  figcaption {
    margin: 1em auto 2em auto;  
    width: 90%;
    font-size: 0.75em;
    line-height: 1.5;
    @media screen and (min-width: 50em) {
      font-size: 0.9em;
    }
  }
  progress {
    margin: 0;
    padding: 0;
  }
}
