form {
  width: 100%;
  display: inline-block;
  @media screen and (min-width: 50em) {
    width: calc(50% - 0.5em);
    float: left;
    margin: 1em 0.5em 0 0;
  }
  button {
    margin: 1em 0 2em 0;
  }
  textarea {
    margin: 0.5em auto;
  }
}


