table {
  display: inline-block;
  background-color: $light-background;
  caption {
    background-color: $med-theme-color;
    padding: 1em;
  }
  th {
    color: $text-color-2;
    padding: 1em;
    border-top: 1px solid $theme-color;
    font-size: 0.75em;
    strong {
      font-size: 1.333em;
    }
    &.price { 
      color: $theme-color;
    }
  }
  td {
    @extend th;
    &.signup {
      border-top: 1px solid $theme-color;
      padding: 2.6em 4.157em;
      background-color: $dk-theme-color;
      a {
        border: none;
        padding: 1em 1.5em;
        background-color: $theme-color;
        font-size: 0.75em;
        color: $text-color-1;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
