.figure-stack {
  background-color: #fd6632;
  color: white;
  font-family: Helvetica;
  text-align: center;
  @media screen and (min-width: 50em) {
    display: inline-block;
    width: 32%;
  }
  figcaption {
    font-size: 0.75em;
    line-height: 1.5;
    width: 80%;
    margin: 1em auto 2.5em auto;
    @media screen and (min-width: 50em) {
      font-size: 0.9em;
    }
  }
}

.icon-quill:before, .icon-flask:before, .icon-gear:before  {
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  font-size: 4em;
  color: #fd6632;
  padding: 0.25em;
}

@media screen and (min-width: 50em) {
  .figure-wrapper {
    margin: 2em auto;
  }
}
.team h2 {
  font-size: 1.777em;
  color: #000;
  margin: 0em 10% 1em 10%;
}
.team h3 {
  font-weight: bold;
  color: #000;
  margin-top: 2em;
}
.team h4 {
  font-size: 0.75em;
  padding: 0.5em 0 1.5em 0;
}
.team p {
  margin: 1.5em 0;
}
.team figcaption {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 100;
}