/*&&&&&&&&&&&&&&&&&&&&&&&&&&
    General styles
&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
html {
  font-family: Helvetica, sans-serif;
  text-align: center;
}
@media screen and (min-width: 50em) {
  body {
    max-width: 80em;
    width: 90%;
    margin: 0 auto;
  }
}
article {
  padding: 2em 2em 1em 2em;
  h1 {
    position: relative;
    font-size: 1.777em;
  }
  @media screen and (min-width: 50em) {
    padding: 2em 5%;
    h1 {
      font-size: 2.369em;
    }
  }
  h2 {
    font-size: 1.777em;
  }
}
p {
  line-height: 1.5;
  margin: 0 1em;
}
a {
  text-decoration: none;
}
.flex-container {
  /*adapted from flexboxin5.com*/
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/* General styles desktop layout */
@media screen and (min-width: 50em) {
  .services h3, .about h2, .clients-slider h2 {
    font-size: 2.369em;
    // display: inline-block;
  }
}
/*&&&&&&&&&&&&&&&&&&&&&&&&&&
    Top navigation bar
&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

/*&&&&&&&&&&&&&&&&
    Services article
&&&&&&&&&&&&&&&&&&*/
.services {
  position: relative;
  background-color: $theme-color;
  color: $text-color-1;
  font-weight: 100;
  @media screen and (min-width: 50em) {
      padding-top: 3em;
      padding-bottom: 3em;
  }
  h1 {
    margin-bottom: 1em;
  }
  p {
    margin: 0em 0 2em 0;
  }
}
 /* Services article flex paragraphs */
.flex-paragraphs {
  -webkit-flex-direction: row; /* safari mobile needs -webkit- */
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  -webkit-align-content: flex-start;
  -webkit-align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: stretch;
}
.flex-paragraph-1 {
  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 0;
  -webkit-flex-basis: 98%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 98%;
}
.flex-paragraph-2, .flex-paragraph-3 {
  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 0;
  -webkit-flex-basis: 48%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 48%;
  padding-right: 1em;
}
/*&&&&&&&&&&&&&&&&
    Portfolio article
&&&&&&&&&&&&&&&&&&*/


.portfolio {
  color: $text-color-3;
  padding-top: 2.5em;
}

/*&&&&&&&&&&&&&&&&&
    About article
&&&&&&&&&&&&&&&&&*/
.about {
  background-color: $dark-background;
  color: $text-color-1;

  font-weight: 100;
  padding-bottom: 2.5em;
  padding-top: 2.5em;
  @media screen and (min-width: 50em) {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  h2 {
    position: relative;
    overflow: hidden;

    font-size: 1.777em;
    margin: 0 10% 1em 10%;
    @media screen and (min-width: 50em) {
      font-size: 2.369em;
    }
  }
  h3 {
    padding: 1em 0 1.5em 0;
  }
  p {
    margin: 1em 0;
  }

  @media screen and (min-width: 50em) {
      .about .flex-paragraphs {
      padding: 1em 0 2em 0;
    }
  }
}

// MAKE SEPARATE PROGRESS FILE


/*$$$$$$$$$$$$$$$$$$
    Team article
$$$$$$$$$$$$$$$$$$$*/

.team {
  color: $text-color-3;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.team h1 {
  color: $text-color-2;
  margin-bottom: 1em;
  font-weight: normal;
}
.contact {
  color: $text-color-1;
  font-weight: 100;
  padding-top: 2.5em;
  /*below is background to show map thru orange*/
  background:
    linear-gradient(
      rgba($theme-color, 0.9),
      rgba($theme-color, 0.9)
    ),
    url('../images/bkgrnd-map.png');
  @media screen and (min-width: 50em) {
    position: relative;
  }
  p {
    margin: 2em 0 1em 0;
    @media screen and (min-width: 50em) {
      margin: 2em 4% 1em 4%;
    }
  }
}


/// PUT FOOTER IN GLOBAL!!!!!

footer {
  padding: 3em 1em;
  a {
    color: $theme-color;
    &:hover {
      color: $text-color-3;
    }
  }
}