.map-embed {
  @media screen and (min-width: 50em) {
    margin: 1em 0 0 0.5em;
    width: calc(50% - 0.5em);
    float: left;
  }
  figure {
    position: relative;
    @media screen and (min-width: 50em) {
      position: relative;
    }
  }
  ul {
    background-color: $hover-mask;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 1em;
    text-align: left;
    @media screen and (min-width: 50em) {
      background-color: $hover-mask;
      position: absolute;
      top: 0;
      padding-bottom: 1em;
    }
  }
  li {
    margin-top: 1.5em;
    padding-left: 0.8em;
    display: inline-block;
    font-size: 0.75em;
    @media screen and (min-width: 50em) {
      margin-top: 1.5em;
      padding-left: 0.5em;
      display: inline-block;
      font-size: 0.75em;
    }
  }
  a {
    color: $text-color-1; /* phone number on mobile */
  }
  iframe {
    width: 100%;
    height: 20em;
  }
}
