.header-notch:after, .header-notch:before {
  position: absolute;
  content: "";
  width: calc(50% - 88px);
  height: 0;
  border-bottom: 20px solid #fd6632;
  border-left: 85px solid transparent;
  left: calc(50% + 3px);
  bottom: 0;
}
.header-notch:before {
  border-left: none;
  border-right: 85px solid transparent;
  left: 0;
}
.orange-notch, .white-notch, .black-notch {
  position: relative;
  bottom: 16px;
}
.orange-notch:before,
.orange-notch:after, .white-notch:before,
.white-notch:after, .black-notch:before,
.black-notch:after {
    position: absolute;
    content: "";
    left: calc(50% + 10px);
    bottom: -41px;
    width: 40px;
    height: 100px;
    background-color: #fd6632;
    border-radius: 0 100px 50px 50px;
    -webkit-transform: rotate(-75deg);
        -ms-transform: rotate(-75deg);
            transform: rotate(-75deg);
    -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.orange-notch:after, .white-notch:after, .black-notch:after {
    left: calc(50% - 55px);
    border-radius: 100px 0 50px 50px;
    -webkit-transform: rotate(75deg);
        -ms-transform: rotate(75deg);
            transform: rotate(75deg);
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
}
.white-notch:before, .white-notch:after {
  background-color: #fff;
  z-index: 1;
}
.black-notch:before, .black-notch:after {
  background-color: #2a2a2e;
}
@media screen and (min-width: 50em) {
  .orange-notch:before,
  .orange-notch:after, .white-notch:before,
  .white-notch:after, .black-notch:before,
  .black-notch:after {
    bottom: -38px;
  }
}