.slider {
  padding-top: 1.5em;
  @media screen and (min-width: 50em) {
    clear: both;
    text-align: left;
  }
  h2 {
    position: relative;
    font-size: 1.777em;
    overflow: hidden;
    @media screen and (min-width: 50em) {
      font-size: 2.369em;
      text-align: center;
      color: $text-color-2;
    }
  }
  h3 {
    margin-top: 1em;
    padding: 0;
    color: $theme-color;
    line-height: 1;
    @media screen and (min-width: 50em) {
      display: inline;
      margin: 0 1em;
    }
  }
  h4 {
    padding: 0;
    color: $text-color-2;
    line-height: 1;
    @media screen and (min-width: 50em) {
      display: inline;
      margin: 0 1em;
    }
  }
  p {
    @media screen and (min-width: 50em) {
      margin-top: 1em;
      line-height: none;
    }
  }
  figure {
    border: 1px solid $accent-border-2;
    border-radius: 1em;
    padding: 1.5em;
    margin: 0 0.5em;
    @media screen and (min-width: 50em) {
      border: none;
      border-radius: 0;
      padding-top: 2em;
    }
  }
  figcaption {
    width: 100%;
    @media screen and (min-width: 50em) {
      float: left;
      margin-left: 2em;
      margin-right: 1em;
      width: calc(90% - 8em - 82px); /*82px is the img dimension*/
    }
  }
  img {
    @media screen and (min-width: 50em) {
      float: left;
      margin-left: 1em;
    }
  }
}
%slider-button {
  border: none;
  padding: 0;
  border-radius: 50%;
  @media screen and (min-width: 50em) {
    border: none;
    padding: 0;
    border-radius: 50%;
    margin-top: 2em;
  }
}
.portfolio > img {
  margin: 1em calc(50% - 470px); /* 470 is half the img width */
}
.slider-button-L {
  @extend %slider-button;
  float: left;
}
.slider-button-R {
  @extend %slider-button;
  float: right;
}
.icon-go-right:before, .icon-go-left:before  {
  display: block;
  border-radius: 50%;
  font-size: 1.777em;
  font-weight: 600;
  color: $text-color-1;
  background-color: $text-color-3;
  @media screen and (min-width: 50em) {
    font-size: 3.157em;
    background-color: $theme-color;
  }
}