@import "reset";

@import "icon-styles";

@import "header_deco";

/*&&&&&&&&&&&&&&&&&&&&&&&&&&

    General styles

&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
html {
  font-family: Helvetica, sans-serif;
}
@media screen and (min-width: 50em) {
  body {
    max-width: 80em;
    width: 90%;
    margin: 0 auto;
  }
}
article {
  padding: 2em 2em 1em 2em;
  h1 {
    position: relative;
    font-size: 1.777em;
    overflow: hidden;
    text-align: center;
  }
  @media screen and (min-width: 50em) {
    padding: 2em 8%;
    h1 {
      font-size: 2.369em;
    }
  }
}
p {
  line-height: 1.5;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background-color: #fd6632;
  color: white;
  padding: 1em 1.5em;
  font-size: 1em;
  &:hover {
    cursor: pointer;
  }
}
.flex-container {
  /*adapted from flexboxin5.com*/
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.nav {
  ul {
    list-style-type: none;
  }
  a {
    color: rgb(124,131,135);
    &:hover {
      color: rgb(0,0,0);
    }
  }
}
/* General styles desktop layout */
@media screen and (min-width: 50em) {
  .services h3, .about h2, .clients-slider h2 {
    font-size: 2.369em;
    // display: inline-block;
  }
}
/*&&&&&&&&&&&&&&&&&&&&&&&&&&

    Bottom-notch styles

&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
.header-notch:after, .header-notch:before {
  position: absolute;
  content: "";
  width: calc(50% - 88px);
  height: 0;
  border-bottom: 20px solid #fd6632;
  border-left: 85px solid transparent;
  left: calc(50% + 3px);
  bottom: 0;
}
.header-notch:before {
  border-left: none;
  border-right: 85px solid transparent;
  left: 0;
}
.orange-notch, .white-notch, .black-notch {
  position: relative;
  left: 50%;
  bottom: 16px;
}
.orange-notch:before,
.orange-notch:after, .white-notch:before,
.white-notch:after, .black-notch:before,
.black-notch:after {
    position: absolute;
    content: "";
    left: calc(50% + 10px);
    bottom: -41px;
    width: 40px;
    height: 100px;
    background-color: #fd6632;
    border-radius: 0 100px 50px 50px;
    -webkit-transform: rotate(-75deg);
        -ms-transform: rotate(-75deg);
            transform: rotate(-75deg);
    -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.orange-notch:after, .white-notch:after, .black-notch:after {
    left: calc(50% - 55px);
    border-radius: 100px 0 50px 50px;
    -webkit-transform: rotate(75deg);
        -ms-transform: rotate(75deg);
            transform: rotate(75deg);
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
}
.white-notch:before, .white-notch:after {
  background-color: #fff;
  z-index: 1;
}
.black-notch:before, .black-notch:after {
  background-color: #2a2a2e;
}
@media screen and (min-width: 50em) {
  .orange-notch:before,
  .orange-notch:after, .white-notch:before,
  .white-notch:after, .black-notch:before,
  .black-notch:after {
    bottom: -38px;
  }
}
/*&&&&&&&&&&&&&&&&&&&&&&&&&&

    Top navigation bar

&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
.top-nav {
  padding: auto 0;
  li {
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    padding: .5em;
    font-weight: 300;
  }
  @media screen and (min-width: 50em) {
    padding-left: 5em;
    padding-right: 5em;
    border-bottom: 1px solid rgba(124,131,135,0.5);
    li {
      border: none;
    }
  }
}
/* flex nav wrapper - adapted from flexboxin5.com */
.flex-navbar {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  -webkit-align-content: flex-start;
  -webkit-align-items: flex-start;
}
/* flex nav items - adapted from flexboxin5.com */
.flex-nav-item {
  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 0;
  -webkit-flex-basis: 8em;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 8em;
  @media screen and (min-width: 50em) {
    -webkit-flex-basis: 4em;
    flex-basis: 4em;
  }
}
/*&&&&&&&&&&&&&&&&

    Header

&&&&&&&&&&&&&&&&&&*/
.header {
  position: relative;
  background-image: url("../images/top-bkgrnd.jpg");
  /* TA Dale said a relative path like this, inside our css file, was fine */
  background-position: top;
  background-repeat: no-repeat;
  height: 15em;
  text-align: center;
  padding-bottom: 1em;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  @media screen and (min-width: 50em) {
    height: 25em;
  }
  h1 {
    padding: 1em .5em;
    width: 90%;
    font-weight: 300;
    line-height: 1.5;
    @media screen and (min-width: 50em) {
      max-width: 28em;
      font-size: 1.618em;
    }
  }
}
.icon-droplet:before {
  margin-bottom: .3em;
  display: inline-block;
  border-radius: 50%;
  background-color: #fd6632;
  font-size: 3.157em;
  color: #fff;
  padding: 0.25em;
}
.underline {
  border-bottom: 1px solid #fd6632;
}

/*&&&&&&&&&&&&&&&&

    Services article

&&&&&&&&&&&&&&&&&&*/
.services {
  position: relative;
  background-color: #fd6632;
  color: #fff;
  text-align: center;
  font-weight: 100;
  @media screen and (min-width: 50em) {
      padding-top: 3em;
      padding-bottom: 3em;
  }
  h1 {
    margin-bottom: 1em;
  }
  h2 {
    font-size: 1.777em;
    margin-bottom: 1em;
  }
  h3 {
    position: relative;
    font-size: 1.777em;
    overflow: hidden;
    text-align: center;
    font-size: 1.777em;
    margin: 0 10% 1em 10%;
      @media screen and (min-width: 50em) {
      font-size: 2.369em;
    }
  }
  p {
    margin: 0em 0 2em 0;
  }
}
 /* Services article flex paragraphs */
.flex-paragraphs {
  -webkit-flex-direction: row; /* safari mobile needs -webkit- */
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  -webkit-align-content: flex-start;
  -webkit-align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: stretch;
}
.flex-paragraph-1 {
  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 0;
  -webkit-flex-basis: 98%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 98%;
}
.flex-paragraph-2, .flex-paragraph-3 {
  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 0;
  -webkit-flex-basis: 48%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 48%;
  padding-right: 1em;
}
.figure-stack {
  background-color: #fd6632;
  color: white;
  font-family: Helvetica;
  text-align: center;
  @media screen and (min-width: 50em) {
    display: inline-block;
    width: 32%;
  }
  figcaption {
    font-size: 0.75em;
    line-height: 1.5;
    width: 80%;
    margin: 1em auto 2.5em auto;
    @media screen and (min-width: 50em) {
      font-size: 0.9em;
    }
  }
}

.icon-quill:before, .icon-flask:before, .icon-gear:before  {
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  font-size: 4em;
  color: #fd6632;
  padding: 0.25em;
}
/*Pricing tables */
table {
  text-align: center;
  background-color: #fff;
  display: inline-block;
  margin: 1em;
}
caption {
  background-color: #7f3319;
  padding: 1em;
}
th, td {
  color: #414141;
  padding: 1em;
  border-top: 1px solid #fd6632;
  font-size: 0.75em;
}
th strong {
  font-size: 1.333em;
}
.price {
  color: #fd6632;
}
.signup {
  background-color: #be4c25;
  padding: 1.5em 4.157em;
  border-top: 1px solid #fd6632;
}
/* Services article desktop layout */
@media screen and (min-width: 50em) {
  .figure-wrapper {
    margin: 2em auto;
  }
  .price-tables-wrapper h3 {
    margin-bottom: 0.5em;
  }
}
/*&&&&&&&&&&&&&&&&

    Portfolio article

&&&&&&&&&&&&&&&&&&*/
.portfolio {
  text-align: center;
  color: rgb(124,131,135);
  padding-top: 2.5em;
  > img {
    margin: 1em calc(50% - 470px); /* 470 is half the img width */
  }
  h4 {
    font-weight: bold;
    color: #000;
    padding-bottom: 0.5em;
  }
  figure {
    margin: 2em calc(50% - 150px) 1em calc(50% - 150px); /* 150px is half the img width */
    @media screen and (min-width: 50em) {
      margin: 0 0 1em 0;
    }
  }
  figcaption {
    margin-top: 1em;
  }
  figure a {
    display: inline-block;
    width: 300px;  /* dimensions of img */
    height: 220px;
    position: relative;
    /* defines hover area for fadeout */
    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    /* black fadeout over portfolio link img on hover */
    &:hover:before {
      background-color: rgba(0,0,0,0.5);
    }
  }
}
.secondary-nav {
  ul {
    list-style-type: none;
    width: 100%;
  }
  li {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: .5em;
    margin: 0.5em auto;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 0.5em;
    @media screen and (min-width: 50em) {
      padding: 0;
      margin: 0;
      border: none;
      border-radius: 0;
    }
  }
  @media screen and (min-width: 50em) {
    width: 90%;
    margin: 0 auto;
    a {
      display: inline-block;
      padding: 0.5em;
      &:hover {
        color: rgb(0,0,0);
        background-color: #fd6632;
      }
    }
    /* secondary nav wrapper */
    .flex-secnav {
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: flex-start;
      align-items: stretch;
    }
    /* secondary nav items */
    .flex-secnav-item {
      -webkit-flex-grow: 1;
      -webkit-flex-shrink: 0;
      -webkit-flex-basis: 20em;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 20em;
    }
    .thumbnail {
      padding: 1em 0.5em;
    }
  }
}
/* changed to :after b/c :before is being used for
 the background change on hover */
.icon-see-more:after {
  display: inline-block;
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  border-radius: 50%;
  background-color: #fd6632;
  font-size: 2.369em;
  color: #fff;
  opacity: 0;
  padding: 0.25em;
}
.icon-see-more:hover:after {
  opacity: 1;
}
/* Portfolio article desktop layout */
@media screen and (min-width: 50em) {
  /* portfolio gallery wrapper */
  .gallery-flex {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-direction: row; /*safari also required these to have -webkit*/
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    -webkit-align-content: flex-start;
    -webkit-align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
    padding-bottom: 1em;
  }
  /* portfolio gallery items */
  .gallery-flex-item {
    -webkit-flex-grow: 1;
    -webkit-flex-shrink: 0;
    -webkit-flex-basis: 300px;/* set to match img width of 300*/
    width: 300px; /*img dimensions*/
    height: 250px;
  }
}
/*&&&&&&&&&&&&&&&&&

    About article

&&&&&&&&&&&&&&&&&*/
.about {
  background-color: #2a2a2e;
  color: white;
  text-align: center;
  font-weight: 100;
  padding-bottom: 2.5em;
  padding-top: 2.5em;
  @media screen and (min-width: 50em) {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  h2 {
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: 1.777em;
    margin: 0 10% 1em 10%;
    @media screen and (min-width: 50em) {
      font-size: 2.369em;
    }
  }
  h3 {
    padding: 1em 0 1.5em 0;
  }
  p {
    margin: 1em 0;
  }
  figure {
    padding: 1em auto;
  }
  figcaption {
    text-align: left;
  }
  button {
    padding: 1em 3em;
  }
  @media screen and (min-width: 50em) {
      .about .flex-paragraphs {
      padding: 1em 0 2em 0;
    }
  }
}
progress {
  appearance: none;
  border: none;
  width: 100%;
  height: 1.5em;
  background: #3a3a3a;
  margin: 0 0 1.5em;
  &::-moz-progress-bar {
    background: #fd6632;
  }
  &::-webkit-progress-value {
    background: #fd6632;
  }
  &::-webkit-progress-bar {
    background-color: #3a3a3a;
  }
}

// !!! ONLY DELETE AFTER WE'VE TESTED FIREFOX !!!
// /* for FIREFOX */
// progress::-moz-progress-bar {
//   background: #fd6632;
// }
// /* for SAFARI */
// progress::-webkit-progress-value {
//   background: #fd6632;
// }
// /* background for SAFARI & CHROME */
// progress::-webkit-progress-bar {
//   background-color: #3a3a3a;
// }

@media screen and (min-width: 50em) {
  .progressbars-wrapper {
     padding: 1em 0;
  }
}
/*$$$$$$$$$$$$$$$$$$

    Team article

$$$$$$$$$$$$$$$$$$$*/
.team {
  text-align: center;
  color: rgb(124,131,135);
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.team h1 {
  color: #000;
  margin-bottom: 1em;
  font-weight: normal;
}
.team h2 {
  font-size: 1.777em;
  color: #000;
  margin: 0em 10% 1em 10%;
}
.team h3 {
  font-weight: bold;
  color: #000;
  margin-top: 2em;
}
.team h4 {
  font-size: 0.75em;
  padding: 0.5em 0 1.5em 0;
}
.team p {
  margin: 1.5em 0;
}
.team figcaption {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 100;
}
/* Clients slider */
.clients-slider {
  padding-top: 1.5em;
}
.clients-slider h2 {
  position: relative;
  font-size: 1.777em;
  overflow: hidden;
  text-align: center;
  @media screen and (min-width: 50em) {
    font-size: 2.369em;
  }
}
.clients-slider h3 {
  margin-top: 1em;
  padding: 0;
  color: #fd6632;
  line-height: 1;
}
.clients-slider h4 {
  padding: 0;
  color: #000;
  line-height: 1;
}
.clients-slider figure {
  border: 1px solid rgb(124,131,135);
  border-radius: 1em;
  padding: 1.5em;
  margin: 0 0.5em;
}
.clients-slider figcaption {
  width: 100%;
}
.slider-button-L, .slider-button-R {
  border: none;
  padding: 0;
  border-radius: 50%;
}
.slider-button-L {
  float: left;
}
.slider-button-R {
  float: right;
}
.icon-go-right:before, .icon-go-left:before  {
  display: block;
  border-radius: 50%;
  font-size: 1.777em;
  font-weight: 600;
  color: #fff;
  background-color: rgb(124,131,135);
}
@media screen and (min-width: 50em) {
  .icon-go-right:before, .icon-go-left:before {
    font-size: 3.157em;
    background-color: #fd6632;
  }
}
/* Social media icons */
.social-icons {
  list-style-type: none;
  margin: 1.5em 0 1em 0;
}
.social-icons li {
  display: inline;
}
.icon-facebook:before, .icon-twitter:before, .icon-dribbble:before, .icon-linkedin:before, .icon-google-plus:before {
  background-color: #3B5998;
  color: #fff;
  padding: 0.25em 0.35em;
}
.icon-twitter:before {
  background-color: #00aced;
}
.icon-dribbble:before {
  background-color: #ea4c89;
}
.icon-linkedin:before {
  background-color: #007bb6;
}
.icon-google-plus:before {
  background-color: #ecbb0a;
}
.icon-facebook:hover:before, .icon-twitter:hover:before, .icon-dribbble:hover:before, .icon-linkedin:hover:before, .icon-google-plus:hover:before {
  background-color: #fd6632;
}
/* Team article desktop layout */
@media screen and (min-width: 50em) {
  /* Team article */
  .team-member {
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: .5em;
  }
  .team h3 {
    margin-top: 0;
  }
  /* Clients slider */
  .clients-slider {
    clear: both;
    text-align: left;
  }
  .clients-slider h3, .clients-slider h4 {
    display: inline;
  }
  .clients-slider p {
    margin-top: 1em;
    line-height: none;
  }
  .clients-slider figure {
    border: none;
    border-radius: 0;
    padding-top: 2em;
  }
  .clients-slider img {
    float: left;
    margin-left: 1em;
  }
  .clients-slider figcaption {
    float: left;
    margin-left: 2em;
    margin-right: 1em;
    width: calc(90% - 8em - 82px); /*82px is the img dimension*/
  }
  .slider-button-L, .slider-button-R {
    border: none;
    padding: 0;
    border-radius: 50%;
    margin-top: 2em;
  }
  .slider-button-L {
    float: left;
  }
  .slider-button-R {
    float: right;
  }
}
/*$$$$$$$$$$$$$$$$$$

    Contact article

$$$$$$$$$$$$$$$$$$$*/
.contact {
  color: #fff;
  font-weight: 100;
  padding-top: 2.5em;
  /*below is background to show map thru orange*/
  background:
    linear-gradient(
      rgba(253, 102, 50, 0.92),
      rgba(253, 102, 50, 0.92)
    ),
    url('../images/bkgrnd-map.png');
  @media screen and (min-width: 50em) {
    position: relative;
  }
  p {
    text-align: center;
    margin: 2em 0 1em 0;
    @media screen and (min-width: 50em) {
      margin: 2em 4% 1em 4%;

    }
  }
  form {
    width: 100%;
    display: inline-block;
    button {
      width: 100%;
      padding: 1em 0;
      color: #fd6632;
      background-color: white;
      margin-bottom: 2em;
      font-size: 0.75em;
      @media screen and (min-width: 50em) {
        width: 40%;
        float: right;
      }
    }
  }
  input, textarea {
    box-sizing: border-box;
    background-color: rgba(126, 50, 24, 0.8);
    border: none;
    display: block;
    padding: 1.5em;
    width: 100%;
    margin: 1em auto;
    &::-webkit-input-placeholder {
      color: #fff;
    }
  }
  input {
    &:first-child {
      margin-top: 0;
    }

  }
}
.messageinput {
  height: 10em;
}
/* Location map */
.contactmap {
  @media screen and (min-width: 50em) {
    margin: 1em 0 0 0.5em;
    width: calc(50% - 0.5em);
    float: left;
  }
  figure {
    position: relative;
    @media screen and (min-width: 50em) {
      position: relative;
    }
  }
  ul {
    background-color: rgba(77,77,77,0.8);
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 1em;
    @media screen and (min-width: 50em) {
      background-color: rgba(77,77,77,0.8);
      position: absolute;
      top: 0;
      padding-bottom: 1em;
    }
  }
  li {
    margin-top: 1.5em;
    padding-left: 0.8em;
    display: inline-block;
    font-size: 0.75em;
    @media screen and (min-width: 50em) {
      margin-top: 1.5em;
      padding-left: 0.5em;
      display: inline-block;
      font-size: 0.75em;
    }
  }
  a {
    color: #fff; /* phone number on mobile */
  }
  img {
    width: 100%;
  }
}
.icon-envelope:before, .icon-pushpin:before, .icon-mobile:before {
  padding-right: 0.5em;
  display: inline-block;
}
/* Contact article desktop layout */
@media screen and (min-width: 50em) {
  /* Contact form */
  .contactform {
    width: calc(50% - 0.5em);
    float: left;
    margin: 1em 0.5em 0 0;
  }
}
/*$$$$$$$$$$$$$$$$$$

    Footer

$$$$$$$$$$$$$$$$$$$*/
footer {
  text-align: center;
  padding: 3em 1em;
  a {
    color: #fd6632;
    &:hover {
      color: rgb(124,131,135);
    }
  }
}
