/* YES mobile version*/
body {
  margin: 0 2%;
}
nav li {
  display: block;
}

header {
  background-image: url('../images/top-bkgrnd.jpg');
}

/* NOT mobile version */
/* when it's BIGGER than 480px, do all this stuff */
@media screen and (min-width: 480px) {
  /*nav items all inline*/
  nav li {
    display: inline-block;
  }
}

/*New stuff by Alina 9/8 Tues */

/*Services section */

/*UI design section*/
.brush {
  background-color: #fd6632;
  color: white;
  font-family: Helvetica;
  padding: 10px;
  text-align: center;
  width: 25%;
}
.brush figure {
  padding: 10px;
}
.brush figcaption {
  font-size: 0.8em;
  line-height: 2em;
  opacity: 0.8;
}

/*Pricing tables */
table {
  display: block;
  text-align: center;
  font-family: Helvetica;
}
.darkorange {
  background-color: #7f3319;
  color: white;
  padding: 10px;
  font-size: 1em;
  padding-left: 60px;
  padding-right: 60px;
  font-weight: 100;
}
.price {
  color: #fd6632;
  padding: 10px;
  border-top: 1px solid #fd6632;
  font-size: 0.8em;
}
.price span {
  font-size: 0.6em;
}
.data {
  color: #414141;
  padding: 10px;
  border-top: 1px solid #fd6632;
  font-size: 0.6em;
}
.button {
  background-color: #be4c25;
  border: 0;
  padding: 15px;
  border-top: 1px solid #fd6632;

}
.button span {
  background-color: #fd6632;
  color: white;
  padding: 5px 10px;
  font-size: 0.70em;
}
