/* YES mobile version*/
html {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
}
body {
  width: 100%;
}
@media screen and (min-width: 50em) {
  body {
    /*background-color: Tomato;*/
    max-width: 80em;
    width: 90%;
    margin: 0 auto;
    /*background-color: lightblue;*/
  }
}
article {
  clear: left;
  padding: 2em;
}
@media screen and (min-width: 50em) {
  article {
    /*clear: left;*/
    padding: 2em 8%;
  }
}
a {
  text-decoration: none;
}
article h1, .services h3, .about h2, .clients h2 {
  position: relative;
  font-size: 160%;
  overflow: hidden;
  text-align: center;
  letter-spacing: 0.1em;
}
/*section {
  padding: 3em;
}*/
.clearfix {
 zoom: 1;
}
.clearfix:before, .clearfix:after {
 content: "\0020";
 display: block;
 height: 0;
 overflow: hidden;
}
.clearfix:after {
 clear: both;
}
/* Styles for the mock header strikethrough */
article h1:before, article h1:after, .services h3:before, .services h3:after, .about h2:before, .about h2:after, .clients h2:before, .clients h2:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: '\a0';
  background-color: #fff;
}
.portfolio h1:before, .portfolio h1:after, .team h1:before, .team h1:after, .clients h2:before, .clients h2:after {
  background-color: rgb(124,131,135);
}
article h1:before, .services h3:before, .about h2:before, .team h1:before, .clients h2:before {
  margin-left: -50%;
  text-align: right;
}
/* Navigation bar */
nav ul {
  list-style-type: none;
}
nav li {
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  float: left;
  width: 8em;
  padding: .5em;
  margin: .5em calc(25% - 4em);
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 5px;
}
nav a {
  text-decoration: none;
  color: rgb(124,131,135);
}
nav a:hover {
  color: rgb(0,0,0);
}
/* Header content */
header {
  clear: left;
  background-image: url('../images/top-bkgrnd.jpg');
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 10em;
  text-align: center;
  padding-bottom: 20px;
}
header h1 {
  padding: 1em .5em;
}
/* Services */
.services {
  background-color: #fd6632;
  color: #fff;
  text-align: center;
  /*padding: 20px 10px;*/
  font-weight: 100;
}
.services h2, .services h3 {
  font-size: 130%;
  margin-bottom: 3px;
  letter-spacing: 0.05em;
}
.services p {
  margin: 20px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.strengths {
  background-color: #fd6632;
  color: white;
  font-family: Helvetica;
  text-align: center;
}
.strengths figure {
  /*padding: 10px;*/
}
.strengths figcaption {
  font-size: 80%;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 80%;
  margin: 10px auto;
}
/*Pricing tables */
table {
  text-align: center;
  background-color: #fff;
  display: inline-block;
  margin: 10px;
}
th {
  background-color: #7f3319;
  padding: 10px;
}
.price {
  color: #fd6632;
}
td {
  color: #414141;
  padding: 10px;
  border-top: 1px solid #fd6632;
  font-size: 65%;
}
td strong {
  font-size: 150%;
}
.signup {
  background-color: #be4c25;
  padding: 15px 50px;
  border-top: 1px solid #fd6632;
}
button {
  border: none;
  background-color: #fd6632;
  color: white;
  padding: 5px 10px;
  font-size: 0.70em;
}
button:hover {
  cursor: pointer;
}
/*&&&&&&&&&&&&&&&& 

    Portfolio

&&&&&&&&&&&&&&&&&&*/
.portfolio {
  text-align: center;
  color: rgb(124,131,135);
}
.portfolio > img {
  margin: 20px calc(50% - 470px);
}
.portfolio nav {
  width: 80%;
  border: none;
}
.portfolio li {
  width: 18em;
}
.portfolio li:last-child {
  margin-bottom: 1em;
}
.portfolio nav a {
  padding: 0.5em;
}
.portfolio nav a:hover {
  background-color: #fd6632;
  color: #fff;
}
.portfolio h4 {
  font-weight: bold;
  color: #000;
  padding-bottom: 0.5em;
}
.portfolio figure {
  margin: 20px calc(50% - 150px);
}
.portfolio figcaption {
  margin-top: 10px;
}
.portfolio figure a {
  display: inline-block;
  width: 300px;
  height: 220px;
  position: relative;
}
/* creates hover area for fadeout */
.portfolio figure a:before { 
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  height: 220px;
  width: 300px;
}
/* black fadeout over portfolio link img on hover */
.portfolio figure a:hover:before { 
  background-color: rgba(0,0,0,0.5);
}
@media screen and (min-width: 50em) {
  .portfolio figure {
    width: 28%;
    float: left;
    margin: 0.2em 1%;
    padding: 0.5em;
  }
  .portfolio figure img {
    /*padding: 0.5em;*/
  }
}

/*&&&&&&&&&&&&&&&&&

     About 

&&&&&&&&&&&&&&&&&*/
.about {
  background-color: #2a2a2e;
  color: white;
  text-align: center;
  /*padding: 20px 10px;*/
  font-weight: 100;
}
.about h2 {
  font-size: 130%;
  margin-bottom: 20px;
  letter-spacing: 0.05em;
}
.about p {
  margin: 20px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.about figure {
  padding: 10px auto;
}
.about figcaption {
  text-align: left;
}
.about progress[value] {
  appearance: none;
  border: none;
  width: 100%;
  height: 25px;
  background-color: #3a3a3a;
  color: #fd6632;
  margin: 0 0 1.5em;
}
/*progress bar container */
.about progress[value]::-webkit-progress-bar {
  background-color: #3a3a3a;
}
/*progress bar value */
.about progress[value]::-webkit-progress-value {
  background-color: #fd6632;
}
.about h3 {
  padding: 10px 0 20px 0;
}
.about button {
  padding: 10px 40px;
}
/* Team */
.team {
  /*padding: 10px;*/
  text-align: center;
  color: rgb(124,131,135);
}
.team h1 {
  color: #000;
  margin-bottom: 20px;
  font-weight: normal;
}
.team h2 {
  font-size: 130%;
  color: #000;
  margin: 20px 40px;
}
.team h3 {
  font-weight: bold;
  color: #000;
  letter-spacing: 0.08em;
  margin-top: 30px;
}
.team h4 {
  font-size: 75%;
  padding: 5px 0 20px 0;
  letter-spacing: 0.05em;
}
.team p {
  margin: 20px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team figcaption {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 100;
}
.clients {
  padding-top: 1.5em;
}
.clients figure {
  border: 1px solid rgb(124,131,135);
  border-radius: 15px;
  padding: 20px;
  margin: 0 10px;
}
.clients h3 {
  margin-top: 1em;
  padding: 0;
  color: #fd6632;
  line-height: 1;
}
.clients h4 {
  padding: 0;
  color: #000;
  line-height: 1;
}
.clients figcaption {
  width: 100%;
}
.slider-button-L, .slider-button-R {
  border: none;
  padding: 0;
  border-radius: 50%;
}
.slider-button-L {
  float: left;
}
.slider-button-R {
  float: right;
}
.social-icons {
  list-style-type: none;
  margin: 20px 0 15px 0;
}
.social-icons li {
  display: inline;
}
@media screen and (min-width: 50em) {
  .team-member {
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: .5em;
  }
  .team h3 {
    margin-top: 0;
  }
  .clients {
    clear: both;
    text-align: left;
  }
  .clients h3, .clients h4 {
    display: inline;
  }
  .clients p {
    margin-top: 1em;
  }
  .clients figure {
    border: none;
    border-radius: 0;
    padding-top: 2em;
  }
  .clients img {
    float: left;
    margin-left: 1em;
  }
  .clients figcaption {
    float: left;
    margin-left: 2em;
    margin-right: 1em;
    width: calc(90% - 8em - 82px);
  }
  .slider-button-L, .slider-button-R {
    border: none;
    padding: 0;
    border-radius: 50%;
    margin-top: 2em;
  }
  .slider-button-L {
    float: left;
  }
  .slider-button-R {
    float: right;
  }
}
/* Contact */
.contact {
  color: #fff;
  font-weight: 100;
  /*below is background to show map thru orange*/
  background:
    linear-gradient(
      rgba(253, 102, 50, 0.92),
      rgba(253, 102, 50, 0.92)
    ),
    url('../images/bkgrnd-map.png');
}
.contact p {
  text-align: center;
  margin: 2em 0 1em 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact form {
  width: 100%;
  display: inline-block;
}
.contact form input, .contact form textarea {
  box-sizing: border-box;
  background-color: rgba(126, 50, 24, 0.8);
  border: none;
  display: block;
  padding: 1.5em;
  width: 100%;
  margin: 1em auto;
}
.contact form input:first-child {
  margin-top: 0;
}
.contact form input::-webkit-input-placeholder, .contact form textarea::-webkit-input-placeholder {
  color: #fff;
}
.messageinput {
  height: 10em;
}
.contact form button {
  width: 100%;
  padding: 1em 0;
  color: #fd6632;
  background-color: white;
  margin-bottom: 2em;
}
/*Small map*/
.contactmap figure {
  position: relative;
}
.contactmap ul {
  background-color: rgba(77,77,77,0.8);
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 1em;
}
.contactmap li {
  margin-top: 1.5em;
  padding-left: 0.8em;
  display: inline-block;
  font-size: 80%;
}
.contactmap img {
  width: 100%;
}
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
@media screen and (min-width: 50em) {
  .contactform {
    width: calc(50% - 0.5em);
    float: left;
    margin: 1em 0.5em 0 0;
  }
  .contact {
    position: relative;
  }
  .contact p {
    margin: 2em 4% 1em 4%;
  }
  .contact form button {
    padding: 1em 4em;
    width: 40%;
    float: right;
  }
  /*Small map*/
  .contactmap {
    margin: 1em 0 0 0.5em;
    width: calc(50% - 0.5em);
    float: left;
  }
  .contactmap figure {
    position: relative;
    /*margin-left: 1em;*/
    /*float: right;*/
  }
  .contactmap ul {
    background-color: rgba(77,77,77,0.8);
    position: absolute;
    top: 0;
    /*left: calc(50% - 1em);*/
    padding-bottom: 1em;
    /*margin-left: -1em; */
  }
  .contactmap li {
    margin-top: 20px;
    padding-left: 10px;
    display: inline-block;
    font-size: 80%;
  }
  .contactmap img {
    /*width: 50%;*/
    /*margin-left: 1em;*/
  }
}
/*Footer*/
footer {
  text-align: center;
  padding: 3em 0;
}
footer a {
  color: #fd6632;
}
footer a:hover {
  color: rgb(124,131,135);
}
/*&&&&&&&&&&&&&&&&&&&&&&&&

NOT mobile version

&&&&&&&&&&&&&&&&&&&&&&&&&*/
/* when it's BIGGER than 480px, do all this stuff */
@media screen and (min-width: 50em) {
  



  /*Services Section Desktop */
  .services {
    padding-top: 3em;
  }
  /*Services Paragraph Flex*/
  .services-flex {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
  }
  .service-flex-1 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 98%;
  }
 .service-flex-2 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 48%;
    padding-right: 2em;
  }
 .service-flex-3 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 48%;
  }
  .strengths-section {
    margin: 3em auto;
  }
  .strengths {
    display: inline-block;
    width: 32%;
  }
  .price-tables {
    margin: 3em auto;
  }
  .price-tables h3 {
    margin-bottom: 3em;
  }


} /* End of Media Query*/






/*use in DESKTOP LAYOUT*/
/*.services .flex-text-block {
  display: flex;
  justify-content: center;
}
.services .flex-text-head {
  margin: auto;
  height: 50%;
}
.services .flex-text {
  margin: auto;
  height: 50%;
} */

/*New stuff by Alina 9/8 Tues */

/*Services section */

/*UI design section*/



