textarea {
  box-sizing: border-box;
  padding: 1.5em;
  border: none;
  height: 10em;
  width: 100%;
  background-color: $input_background;
  &::-webkit-input-placeholder {
    color: $text-color-1;
  }
}